:root {
    font-size: 16px;
}
body {
    display: flex;
    flex-direction:column;
    width:100vw;
    background-color: black;
    margin:0px;
}

#desktop-down{
    display:none;
}
.mobile-show{
    display: flex;
    flex-direction:column;
    gap:8px;
    background-color:black;
}
.body2, .body4{
    margin:0px;
}
.desktop-show{
    display: none;
}
main{
    display:flex;
    flex-direction: column;
}
h1{
    font-size: 3rem;
}
h2 {
   /* border-top: solid 4px black;*/ 
    height: content;
    padding-top:3rem;
    font-size: 2rem;
}
blockquote, header, h1, h2, .ReadMore, footer {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
p {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    padding:8px;
}
.section3{
    margin:8px;
    display:flex;
    flex-direction:column;
    gap:8px;
    background-color:black;
}
.section2A > .empty3, 
.section3A > .empty3, 
.section3B > .empty3, 
.section3C > .empty3 {
    display: none;
}

.section3A > .quote3, 
.section3B > .quote5, 
.section3C > .quote4 {
    height: 100%; 
    border: none;
    width:100%;
}
.section3A, .section3B, .section3C {
    margin:0px;
}

.black {
    /* grid-area: Cblack; */
    /* height: 6rem; */
    background-color: black;
    width: calc(100%-16px);
    height: 10vh;
    margin: 0;
}

@media screen and (min-width: 600px) {
    body {
        background-color:black;
        display: flex;
        width: 100vw;
        height: 100vh;
    }
    .section2{
        gap:8px;
        background-color:black;
    }
    .section2a, .section2b{
        margin:0px;
        display:flex;
        flex-direction:column;
        gap:8px;
        background-color:black;
    }
    .section2a > .empty3:nth-child(1){
        background-color:white;
    }
    .body2:nth-child(1){
        background-color: #FFD301;
        margin:0px;
    }
    .body2:nth-child(2){
        margin:0px;
    }
    .body2 p{
        margin:0px;
    }
    main {
        display: flex;
    }
    .mobile-show{
        display: none;
    }
    .desktop-show{
        display: flex;
    }
    /* .empty3{
        display:block;
    } */
    .black {
        /* grid-area: Cblack; */
        /* height: 6rem; */
        background-color: black;
        width: calc(100%-16px);
        height: 40vh;
        margin: 0;
    }

    h2 {
       /* border-top: solid 4px black;*/
        height: 30vh;
        padding-top:0px,
    }

    #desktop-down{
        display:flex;
        flex-direction:column;
    }
    .section2A > .empty3, 
    .section3A > .empty3, 
.section3B > .empty3, 
.section3C > .empty3 {
    display: block;
    height:auto;
    margin:0px;
}
.section2A > .empty3{
    height:30vh;
}
     /* article{
        display:grid;
        grid-template-columns:100%;
        grid-template-rows:auto;
        grid-template-areas: 
        "h1"
        "Cblack"
        "h2"
        "body1"
        "body2"
        "quote1"
        "body3"
        "body-yellow"
        "quote2"
        "body4"
        "body5"
        "quote3"
        "quote4"
        "quote5"
        "body6"
        "body7"
        "body8"
        "read-more"
        "footer";
        background-color: black;
        gap: 5px;
        margin: 5px;
    } */
    

    
    
    /* 
    p::selection {
        color: blue;
        background-color: #FFD301;
      }  
    
    
    header {
        /* grid-area: header; */
        /* width: 100vw; */
    }
    ul{
        display:flex;
        flex-direction:row;
        padding:0px;
        list-style-type:none;
        margin:0px;
        font-family: "Staatliches", sans-serif;
    }
    li{
        padding:1rem;
        font-family: "Staatliches", sans-serif;
        font-size:1rem;
    
    }
    li:nth-child(1){
        text-align:left;
    }
    li:nth-child(2){
        border-left: black solid 2px;
        border-right: black solid 2px;
    }
    li:nth-child(3){
        text-align:right;
        margin-right:0px;
        justify-content:flex-end;
        width: calc(100%-16px);
    }
    

    /* h1{
        background-color:white;
        grid-area:h1;
    }
    
    h2 {
        gap: 5px;
        grid-area: h2;
    }
    article{
        grid-area:article;
    } */
    
    section {
       /* border: solid 3px black;*/
        /* padding: 1rem; */
        width: calc(100%-16px);
    }
    
    main section:first-child {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    
    section, div, header, h1, h2 {
        background-color: white;
        margin:8px;
    }
    
    blockquote {
        margin: 0;
        background-color: white;
        font-size: 2rem;
       /*: solid 3px black;*/
        padding: 1rem;
    }
    #mobile-black{
        display:none;
    }
    .quote1 {
        grid-area: quote1;
        background-color: #006AB3;
    }
    
    .quote2 {
        grid-area: quote2;
        background-color: #DF1617;
    }
    
    
    
    .body1 {
        grid-area: body1;
    }
    
    .yellow {
        grid-area: body-yellow;
        background-color: #FFD301;
    }
    
    .body2 {
        grid-area: body2;
    }
    
    .body4 {
        grid-area: body4;
    }
    
    .quote3 {
        grid-area: quote3;
        background-color: #006AB3;
    }
    
    .quote4 {
        grid-area: quote4;
        background-color: #FFD301;
    }
    
    /* .quote5 {
        grid-area: quote5;   
    } */
    
    .body6 {
        grid-area: body6;
    }
    
    .section4 {
        display: flex;
    }
    
    .section4L {
        display: flex;
        flex-direction: column;}
    
    /* .section4L section {
        width: 50%;
    } */
    
    .section4R {
        height: 100%;
        background-color: #006AB3;
    }
    .ReadMore {
        grid-area: read-more;
    
    }
    
    .section3 {
        display: flex;
        flex-direction: column;
        margin:8px;
    }
    .section3 blockquote {
        height: 80vh;
        border: none;
        width: 50vw;
    }
    
    .section3A, .section3B, .section3C {
        display: flex;
        flex-direction:row;
        max-height: fit-content; 
    margin:0px;  
gap:8px;
background-color:black; }
    
    .empty3 {
        display:block;
        background-color: red;
        height: 80vh;
        width: 50vw;
       /*: solid 4px black;*/
    }
    
    footer {
        grid-area: footer;
        background-color: white;
    }
    
    .white {
        height: 30vh;
        width: 40vw;
    }

    /* article{    
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "h1 h1 h1 h1 h1 h1 h1 h1 Cblack Cblack Cblack Cblack"
        "h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2"
        "body1 body1 body1 body1 body1 body1 body1 body1 quote1 quote1 quote1 quote1"
        "body2 body2 body2 body2 body2 body2 body2 body2 quote2 quote2 quote2 quote2"
        "body-yellow body-yellow body-yellow body-yellow body-yellow body-yellow body-yellow body-yellow body-yellow body-yellow body-yellow body-yellow";
    } */
}

      /*  "yellow yellow yellow yellow yellow body body body body body body body"
        "quote2 quote2 quote2 quote2 quote2 body body body body body body body"
        "red red red red red body body body body body body body"
        "quote3 quote3 quote3 quote3 quote3 quote3 blank blank blank blank blank blank"
        "blank blank blank blank blank blank quote4 quote4 quote4 quote4 quote4 quote4"
        "quote5 quote5 quote5 quote5 quote5 quote5 blank blank blank blank blank blank"
        "body body body body body body body blue blue blue blue"
        "body body body body body body body blue blue blue blue"
        "body body body body body body body blue blue blue blue"
        "read-more read-more read-more read-more read-more read-more read-more read-more black black black black"
        "footer1 footer1 footer1 footer1 footer1 footer2 footer2 footer2 footer2 footer3 footer3 footer3"; */

