body {
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: 100px 65vh 100px;
    grid-template-areas: 
    "header"
    "h1"
    "black"
    "h2"
    "body1"
    "body2"
    "quote1"
    "body3"
    "body-yellow"
    "quote2"
    "body4"
    "body5"
    "quote3"
    "quote4"
    "quote5"
    "body6"
    "body7"
    "body8"
    "read-more"
    "footer";
    background-color: black;
    gap: 5px;
    margin: 5px;
}

blockquote, header, h1, h2, .ReadMore, footer {
font-family: "Staatliches", sans-serif;
font-weight: 400;
font-style: normal;;
}

p {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
}


header {
    grid-area: header;
}

.black {
    grid-area: black;
    height: 6rem;
    background-color: black;
}

h2 {
    gap: 5px;
    grid-area: h2;
}

section {
    grid-area: body;
    border: solid 3px black;
    padding: 1rem;
}

section, div, header, h1, h2 {
    background-color: white;
    margin: 0;
}

blockquote {
    margin: 0;
    background-color: white;
    font-size: 2rem;
    border: solid 3px black;
    padding: 1rem;
}

.quote1 {
    grid-area: quote1;
    background-color: #006AB3;
}

.quote2 {
    grid-area: quote2;
    background-color: #DF1617;
}

.body1 {
    grid-area: body1;
}

.yellow {
    grid-area: body-yellow;
    background-color: #FFD301;
}

.body2 {
    grid-area: quote2;
}

.body4 {
    grid-area: body4;
}

.quote3 {
    grid-area: quote3;
    background-color: #006AB3;
}

.quote4 {
    grid-area: quote4;
    background-color: #FFD301;
}

.quote5 {
    grid-area: quote5;   
}

.body6 {
    grid-area: body6;
}

.ReadMore {
    grid-area: read-more;

}

footer {
    grid-area: footer;
    background-color: white;
}



@media (min-width: 600px) {
    body {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "header header header header header header header header header header header header"
        "h1 h1 h1 h1 h1 h1 h1 h1 black black black black"
        "h2 h2 h2 h2 h2 h2 h2 h2"
        "body1 body1 body1 body1 body1 body1 body1 body1 quote1 quote1 quote1 quote1"
        "body2 body2 body2 body2 body2 body2 body2 body2 quote2 quote2 quote2 quote2"
        "body-yellow";
    }
}

      /*  "yellow yellow yellow yellow yellow body body body body body body body"
        "quote2 quote2 quote2 quote2 quote2 body body body body body body body"
        "red red red red red body body body body body body body"
        "quote3 quote3 quote3 quote3 quote3 quote3 blank blank blank blank blank blank"
        "blank blank blank blank blank blank quote4 quote4 quote4 quote4 quote4 quote4"
        "quote5 quote5 quote5 quote5 quote5 quote5 blank blank blank blank blank blank"
        "body body body body body body body blue blue blue blue"
        "body body body body body body body blue blue blue blue"
        "body body body body body body body blue blue blue blue"
        "read-more read-more read-more read-more read-more read-more read-more read-more black black black black"
        "footer1 footer1 footer1 footer1 footer1 footer2 footer2 footer2 footer2 footer3 footer3 footer3"; */

