:root {
	--root-size:  1.2rem;
	--fg-color: #000;
}

body {
	/*font-size: var(--root-size);*/
	/*padding: var(--root-size);*/
	max-width:
	padding: var(--root-size);
	margin-left: 20px;
	margin-right: 20px;
}

ol { background-color: white; }

ol:not(:first-child) { margin-top: 20px; }

li {
	background-color: tomato;
	border-bottom: 2px solid firebrick;
	border-right: 2px solid firebrick;
	padding: 5px;
}

ol, footer {
	display: flex;
	flex-wrap: wrap;
	height: 120px;
}

ol, footer {
	justify-content: space-between;
	align-content: space-between;
	gap: 10px; /* No effect, here! */
}

h1{
	/*font-size: calc(var(--root-size)*2);*/
	font-family: "Staatliches", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 200px;
	margin-top: 50px;
	line-height: 170px;
	font-size: calc(var(--root-size) * 8);
	}

h2, .Read more; {
	align-items: left;
	font-family: "Staatliches", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 50px;
}

.name, .author, .date, footer {
	font-family: "Staatliches", sans-serif;
	font-weight: 400;
	font-style: normal;
	margin-top: 20px;
	
}

.name {
	align-items: right;
	padding-left: 50px;
   }

section {
	font-family: "Space Grotesk", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
	width: max(22rem); 
}

blockquote{
	align-items: center;
	text-transform: uppercase;
	font-family: "Staatliches", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 30px; 
}

li {
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	padding: 5px;
	font-family: "Staatliches", sans-serif;
	font-weight: 400;
	font-style: normal;
}

ul {
	display: flex;
	height: 120px;
}

.responsive-row {
	margin-top: vR(--root-size);
	display:flex;
	flex-direction:column;
	gap: var(--root-size);
}

@media (min-width: 600px) 
	:root {
		--root-size: 1.5rem;
	}

@media print {
	:root {
		--root-size: 1rem;
	section: width: min(60%); 
	}
}